body{
    background-color:rgb(186, 209, 241);

    display:flex;
    flex-direction:column;
    justify-content:center;  /*y axics*/
    align-items: center;    /*x axics */

    min-height: 100vh;
}

#box{
    height:200px;
    width:200px;

    background-color:blue;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;
}
#p-in-box{
    font-size:15px;
    color: rgb(251, 253, 255);

}
#heading{
    color:red;
}
