body{
    
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    min-height: 100vh;
}
p{
    display: none;
}

.h1{
    color:blue;
    text-transform: capitalize;
    
    
}