body{
    background-color:rgb(186, 209, 241);

    /* display:flex;
    justify-content:center; */
    /* align-items:center;

     min-height: 100vh; */
}
p{
    display:flex;
    justify-content:center;

}
#box{
    height:200px;
    width:200px;

    margin-left:600px;
    background-color:blue;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;
}
#in{
    font-size:15px;
    color: rgb(251, 253, 255);

}

