body{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

}
#di{
    width: 20vw;
    aspect-ratio: 1/1;

    border-top: 7px solid rgb(244, 237, 237);
    border-radius: 50%;

    animation: rotate 1s ease-in 0s infinite;;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



